@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,400;0,700;1,700&family=Roboto&family=Roboto+Condensed:ital,wght@1,700&family=Source+Sans+Pro:ital@1&display=swap');


.bip {
    display: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

.dede {
    position: absolute;
    margin-left: 75%;
    margin-top: 34%;
    width: 20%;
    height: 28%;
}


h3 {
    position: absolute;
}


.vehicl {
    margin-left: 78.5%;
    margin-top: 38%;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
}



.rue {
    margin-left: 78.5%;
    margin-top: 39.5%;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
}


.info {
    margin-left: 78.5%;
    margin-top: 41%;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
}


.appel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.container {
    
    position: relative;
    width: 32%;
    height: 37vh;
    background-color: #ffffff;
    /* background-color: rgba(255, 255, 255, 0.363); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}


.title {
    margin: 0;
    padding: 0;
    color: rgb(255 0 0);
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    margin-left: 84px;
    margin-top: 13px;
}


.iput    {
    position: absolute;
    border-radius: 4px;
    background-color: #a3a3a3;
    width: 75%;
    height: 4vh;
    margin-left: 12%;
    margin-top: 80px;
    color: #222222;
    /* border: none; */
    outline: 0;
    border: rgb(126, 126, 126);
}


.input {
    position: absolute;
    border-radius: 4px;
    background-color: #a3a3a3;
    width: 75%;
    height: 4vh;
    margin-left: 12%;
    margin-top: 25%;
    /* border: none; */
    outline: 0;
    color: #222222;
    border: rgb(126, 126, 126);
}


.veh {
    position: absolute;
    border-radius: 4px;
    background-color: #a3a3a3;
    width: 75%;
    height: 4vh;
    margin-left: 12%;
    margin-top: 37%;
    /* border: none; */
    outline: 0;
    color: #222222;
    border: rgb(126, 126, 126);
}

.iput[type=text] {
    text-align: center;
    
}

.input[type=text] {
    text-align: center;
    
}

.veh[type=text] {
    text-align: center;
    
}
.input:focus {
    border: none;
    outline: 0;
}

.iput:focus {
    border: none;
    outline: 0;
}
.veh:focus {
    border: none;
    outline: 0;
}




.buttone {
    position: absolute;
    border: none;
    outline: 0;
    border-radius: 5px;
    width: 15%;
    height: 4vh;
    margin-top: 53%;
    margin-left: 42%;
    background-color: #222222;
    color: #fff;
    transition: transform 0.3s ease;
    cursor: pointer;
}


.buttone:hover {
    transform: scale(1.1);
    background-color: #252525;
}



.container1 {
    display: none;
}


.cross {
    position: absolute;
    margin-left: 90.5%;
    margin-top: 2%;
    height: 36px;
    width: 41px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cross:hover {
    transform: scale(1.1);
}

.logo {
    position: absolute;
    width: 11%;
    height: 15%;
    margin-top: 10px;
    margin-left: 10px;
    user-select: none;
}


.testde {
    color: #98e1fa;
}